<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<style>
    #logs{
        padding: 1rem;
        background-color: black;
        color: white;
    }
</style>

<body>
    <h1>Welcome to Tahir's reCAPTCHA verification API!</h1>
    <p><b>Use this endpoint for verifying:</b> https://validation-microservice.onrender.com/recaptcha/verify</p>
    <div id="logs"></div>
</body>

<script>

    const logElement = document.getElementById('logs')

    fetch('/api/logs')
    .then(response => response.json())
    .then(data => {
        data.logs.map(log => {
            logElement.innerHTML +=`<p>${log.log}</p>`
        })
    })

</script>

</html>